EVENT_AGENT_AUTH_TOKEN=replace-with-a-long-random-token
EVENT_AGENT_PORT=5180
EVENT_AGENT_AWS_REGION=us-west-2
EVENT_AGENT_DATABASE_URL=postgres://user:password@host:5432/event_agent
EVENT_AGENT_DEFAULT_QUEUE_URL=https://sqs.us-west-2.amazonaws.com/123456789012/event-agent-default
EVENT_AGENT_EVENT_BUS_NAME=event-agent-dev

